<div class="container-fluid container1" id="logo">
    <div class="jumbotron">
<<<<<<< HEAD



            <h2>Create a New Profile</h2>

=======
        <div class="col-md-6">
            <h2>Create a New Profile</h2>
            <%  if @user.errors.any? %>
                <% @user.errors.full_messages.each do |message| %>
                    <%= message %>
                    <br>
                <% end %>
            <% end %>
>>>>>>> origin/master
            <%= bootstrap_form_for(@user, layout: :horizontal) do |user| %>
                <%= user.text_field :name, placeholder: "Full Name", prepend: link_to("", "#", class: "glyphicon glyphicon-user") %>
                <%= user.email_field :email, placeholder: "Email", prepend: link_to("", "#", class: "glyphicon glyphicon-envelope") %>
                <%= user.password_field :password, placeholder: "Password", prepend: link_to("", "#", class: "glyphicon glyphicon-lock") %>
                <%= user.password_field :password_confirmation, label: "Confirm Password", placeholder: "Confirm Password", prepend: link_to("", "#", class: "glyphicon glyphicon-lock")%>
                <%= user.submit "Sign Up Now", class: "btn btn-default" %>
            <% end %>
        </div>
        <form class="col-md-6">

<<<<<<< HEAD
        <% end %>

        <form class="col-md-6">
=======
>>>>>>> origin/master
             <!-- Email Address Input -->
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input class="form-control" type="email" placeholder="Email address">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="text" placeholder="First Name">
                <input class="form-control" type="text" placeholder="Last Name">
            </div>
            <!-- Password Input -->
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" type="password" placeholder="Password">
                <input class="form-control" type="password" placeholder="Confirm Password">
            </div>
            <div id="signupalert" style="display:none" class="alert alert-danger">
                <p>Error:</p>
                <span></span>
            </div>
            <!-- Sign Up Button -->
            <button type="submit" class="sign-in-button">Sign Up Now</button>
        </form>

        <div class="col-md-6 hidden-xs">
            <h2>Already a Member?</h2>
            <hr>
            <br>
            <h3>Click the Power On Button<br> to jump into the competition!</h3>
        </div>


