
<!-- This is the start of the First Section / Above the Fold -->
<div class="container-fluid container1" id="logo">
    <div class="jumbotron" >
        <img class="main-logo" alt="Logo" src="/assets/logo.png">

        <div>
            <h1>Turn <span class="red">On</span> your<br> competitive side</h1>
        </div>
        <br>
        <a href="#about">
            <div class="scrollindicator" >
                <img class="scroller" alt="Arrow down" src="/assets/arrow_down.png">
            </div>
        </a>
    </div>
</div>
<div class="texture"></div>
    <!-- Golf Background Image -->
<div class="container-fluid container2"></div>

    <!-- Start of Bracket Section -->
<div class="container-fluid container3"id="about"  ><div class="jumbotron bracketh1"><span class="bracket hidden-xs" ><%= image_tag('bracket.png')%></span>
    <h1>Create and manage your own tournaments!</h1></div></div>
<div class="texture"></div>
    <!-- Football Background Image -->
<div class="container-fluid container4"></div>

    <!-- Start of Notifications Section -->
<div class="container-fluid container3">
<div class="col-md-6 notifications">
    <h1>Notifications</h1>
    <ul>
        <li><h3>Learn about events around you based on your profile and interests</h3></li>
        <li><h3>Invite friends to join your "Team"</h3></li>
        <li><h3>Challenge other teams in you area</h3></li>
        <li><h3>Google Maps integration for tournament / challenge locations</h3></li>

    </ul>


</div>

    <!-- Google Calender -->

    <div class="col-md-6 iframe  hidden-sm hidden-xs">
    <%= image_tag('googlemap.png')%>
    </div>
</div>
   <div class="texture"></div>
    <!-- Baseball Background Image -->
<div class="container-fluid container5"></div>

    <!-- User Team Profile Page Section -->
<div class="container-fluid container3">
<div class="col-md-8 profile"><span class=""><%=image_tag('profile.png', width: '98%')%></span></div>
    <div class="col-md-4 profile"><h1 class="profileh1">User / Team Profiles</h1>
    <ul class="hidden-sm hidden-xs">
        <li><h3>Default banners based on your interests</h3></li>
        <li><h3>Keep track of your records / statistics</h3></li>
        <li><h3>Add Photo and Video</h3></li>
        <li><h3>Add Friends (Team) / Rivals</h3></li>
    </ul>
    </div>
</div>
<div class="texture"></div>
    <!-- Soccer Background Image -->
<div class="container-fluid container6"></div>

    <!-- Join the team / Sign Up / Sign In Page -->
<div class="container-fluid container3" id="signup" >
    <div class="col-md-12"><h1 class="teamh1">Join the team!</h1></div>
<div class="col-md-6  hidden-sm hidden-xs" ><br><h1 class="signuph1">Sign In</h1>
    <h3 >Jump into the competition</h3>
  <br>
    <br>

    <%= form_tag session_path, method: 'post' do %>
    <!-- Email Address Input -->
    <div class="input-group">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-envelope"></span>
  </span>
  <input class="form-control" type="text" name="email" id="email" placeholder="Email address">
</div>

    <br>


    <!-- Password Input -->
<div class="input-group">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-lock"></span>
  </span>
  <input class="form-control" type="password" name="password" id="password" placeholder="Password">
</div>
    <br>


    <!-- Sign In Button -->
      <button type="submit" name="commit" class="sign-in-button">Sign In Now</button>
    </div>
    <% end %>

<div class="col-md-6"><br><h1 class="signuph1">Sign Up</h1>
    <h4 class="signuph4">Connect with your friends and learn about<br> competitions in your area!</h4>
    <br>
    <br>

    <!-- Email Address Input -->
    <form action="/users" accept-charset="UTF08" id="new_user" method="post">
            <%= form_for User.new  do |u| %>
                <!-- Email Address Input -->
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input class="form-control" type="email" placeholder="Email address" name="user[email]" id="user_email">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" placeholder="First Name" id="user_name" name="user[name]">
                    <input class="form-control" type="text" placeholder="Last Name" id="user_last_name" name="user[last_name]">
                </div>
                <!-- Password Input -->
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" type="password" placeholder="Password" id="user_password" name="user[password]">
                    <input class="form-control" type="password" placeholder="Confirm Password" id="user_password_confirmation" name="user[password_confirmation]">
                </div>
                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>
                <!-- Sign Up Button -->
                <button type="submit" class="sign-in-button" name="commit" value="Sign Up Now">Sign Up Now</button>

    <% end %>
</form>
    </div>
</div>
<div class="texture"></div>
    <!-- MLG Background Image -->
 <div class="container-fluid container7"></div>

    <!-- Contact Section -->
<div class="container-fluid container3" id="contact">
<div class="col-md-12">
    <h1 class="contacth1" >Let's Keep in Touch!</h1>
    <h4 class="contacth4 hidden-xs">Thank you for visiting Power Brackets! We hope you found exactly what you were looking for! If you have any questions or comments please feel free to add them in the form below. We look forwarding to improving with each of your suggestions!</h4></div>

    <div class="col-md-6">


        <!-- Name Input -->
    <div class="input-group input-group-lg name">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-user"></span>
  </span>
  <input class="form-control name" type="text" placeholder="Name">
</div>


    <!-- Email Address Input -->
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-envelope"></span>
  </span>
  <input class="form-control email" type="text" placeholder="Email address">
</div>

    <!-- Subject Input -->
        <div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-question-sign"></span>
  </span>
  <input class="form-control subject" type="text" placeholder="Subject">
</div>

    <!-- Comments Input -->
    <div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-pencil"></span>
  </span>
  <textarea style="height:150px; width:100%" class="form-control textarea" type="text" placeholder="Comments"></textarea>
</div>

    <!-- Send Message Button -->
      <button type="submit" class="sign-in-button">Send Message</button>

</div>

    <!-- Contact Info -->
    <div class="col-md-6 hidden-sm hidden-xs">
    <h1 class="contacth1">Contact Info</h1>
     <strong><span style="font-size:20px; margin-right:5px;" class="glyphicon glyphicon-envelope"></span></strong>
        somethingsomething@something.com
        <br>
        <br>
        <strong><span style="font-size:20px; margin-right:5px;" class="glyphicon glyphicon-picture"></span></strong>
        1234 W 1789 N St. George Utah 84770
        <br>
        <br>
        <strong><span style="font-size:20px; margin-right:5px;" class="glyphicon glyphicon-phone"></span></strong>
        123-456-7890
    </div>
</div>

    <!-- Basketball Background Image-->

    <div class="texture"></div>

    <div class="container-fluid container8"></div>

    <!-- Pricing Page-->
<div class="container-fluid container3" id="pricing" >
    <br>
    <br>
    <!--    Pricing Title-->
        <h1 class="col-md-12 pricingh1" >Pricing</h1>

    <!--    Price Plans-->
    <div class="pricing" >
        <h1>Free</h1>
        <h3>$0.00</h3>

        <p>5 Free Tournaments</p>
        <p>Add Friends To Your Profile</p>
        <p>Accept Challenges to Compete with those in your area</p>
    </div>
     <div class="pricing">
         <h1>Basic</h1>
         <h3>$2.50 per/month</h3>
        <p>Unlimited Tournament Creation</p>
         <p>Track your statistics for all your sports</p>
         <p>Include a Win / Loss Record to your profile</p>
    </div>
     <div class="pricing">
         <h1>Pro</h1>
         <h3>$3.99 per/month</h3>

         <p>For the competitors that want to add <br> an extra interest to their competition</p>
         <p>Create / Add Money Games to your tournaments</p>

    </div>

    <!--    Price Plan Feature Table-->
<table class="table table-striped col-xl-12 hidden-xs">
<tr>
    <thead>
        <td></td>
    <td>
        Free
    </td>
    <td>Basic
   </td>
    <td>Pro

        </td>
        </thead>
</tr>
    <tr>
        <td>Add Friends</td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
    </tr>
    <tr>
        <td>Accept Challenges</td>
         <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
    </tr>
    <tr>
        <td>Create Tournaments</td>
        <td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
    </tr>
    <tr>
    <td>Track Your Statistics</td>
        <td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
    </tr>
    <tr>
        <td>Additional Money Games</td>
        <td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
        <td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
    </tr>


</table>


<!--    end of content div-->
</div>

<footer class="col-md-12 hidden-sm hidden-xs">
<div class="col-md-3">
    <h5>Services</h5>
    <ul>
        <li>Create Your Own Tournaments</li>
        <li>Connect with athletes in your area</li>
        <li>Track your statistics and improvement</li>
    </ul>
</div>
<div class="col-md-2">
    <h5>Social Media</h5>

      <%= link_to image_tag('facebookicon.jpg', style: "width:50px;"), 'https://facebook.com/powerbrackets', target: "_blank" %>
        <%= link_to image_tag('twittericon.jpg',style: "width:50px;"), 'https://twitter.com/PWR_Brackets', target: "_blank" %>
       <%= link_to image_tag('instagramicon.jpg',style: "width:50px;"), 'https://instagram.com', target: "_blank" %>

</div>
<div class="col-md-3">
    <h5>Contact</h5>
    <ul>
      <li>Email: something@something.com</li>
        <li>Address: 1234 E 1234 W St George UT 84770</li>
        <li>Phone: 123-456-7890</li>
    </ul>
</div>

<div class="col-md-4">
    <h5>&copy; Copyright Power Brackets 2014</h5>
</div>

</footer>


















