<!DOCTYPE html>
<html>
<head>
    <title>PowerBrackets</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->

</head>
<body>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#logo">
                    <%= image_tag('logo1.png')%>
                </a>
            </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                       <%= link_to "Home", "#logo" %>

                    </li>
                    <li>
                       <%= link_to "About", "#about" %>

                    </li>
                    <li>
                       <%= link_to "Contact", "#contact" %>

                    </li>
                     <li>
                       <%= link_to "Pricing", "#pricing" %>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                   <% if current_user %>
                       <li><%= link_to current_user.name + ' ' + current_user.last_name, current_user %></li>
                   <% else %>
                       <li> <a href="/users/new">Sign Up</a></li>
                   <% end %>
                    <li class="dropdown">
                        <button class="btn btn-danger dropdown-toggle poweron" data-toggle="dropdown">Power On</button>
                        <div id="loginbox" class="dropdown-menu panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">Sign In</div>
                                <div style="float:right; position: relative; top:-15px"><button class="btn btn-link" style="font-size: 85%;" href="#">Forgot password?</button></div>
                            </div>
                            <div class="panel-body">
                                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

<!--                                Dropdown Sign in Form-->

<!--                                <form id="loginform" class="form-signin" role="form">-->
                                   <%= form_tag session_path, method: 'post' do %>
                                   <br>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="email" type="text" class="form-control" name="email" value="" placeholder="Email">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                                    </div>
                                        <div class="input-group">
                                        <div class="checkbox">
                                            <label>
                                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                        <div class="form-group">
                                        <div class="controls">
                                            <button type="submit" name="commit"class="btn btn-danger">Login</button>
                                            <button id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</button>
                                        </div>
                                    </div>
                                        <div style="border-top: 1px solid #888; padding-top:15px; font-size:85%" >
                                        Don't have an account!
                                        <button type="button" class="btn btn-link" style="font-size:100%;" href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Sign Up Here
                                        </button>
                                    </div>
                                    <% end %>
<!--                                </form>-->
                            </div>
                        </div>
                        <div id="signupbox" class="dropdown-menu panel panel-default" style="display:none;">
                            <div class="panel-heading">
                                <div class="panel-title">Sign Up</div>
                                    <button id="signinlink" class="btn btn-link" type="button" style="float:right; font-size: 85%; position: relative; top:-15px" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</button>
                            </div>
                            <div class="panel-body" >


<!--Drop Down Sign Up Form-->

                                <form id="new_user" action="/users" accept-charset="UTF08" method="post" class="form-signup" role="form">
                                    <%= form_for User.new do |u| %>
                                    <br>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input type="email" class="form-control" name="user[email]" id="user_email" value="" placeholder="Email">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" style="border-bottom:none;" class="form-control" name="user[name]" id="user_name" value="" placeholder="First Name">
                                        <input type="text" class="form-control" name="user[last_name]" id="user_last_name" value="" placeholder="Last Name">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" class="form-control" name="user[password]" id="user_password" value="" placeholder="Password">
                                        <input type="password" class="form-control" name="user[password_confirmation]" id="user_password_confirmation" value="" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group">
                                        <button id="btn-signup" type="submit" class="btn btn-danger"  name="commit"><i class="icon-hand-right"></i>Sign Up</button>
                                        <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>Sign Up with Facebook</button>
                                    </div>
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>
                                    <% end %>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <%= yield %>

        <span class="flash col-md-8 col-md-offset-2"><%= flash[:notice] %></span>

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

</body>
</html>
